.form-container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    input:not([type="file"]),
    .fileUpload {
      background-color:white;
      margin-bottom: 24px;
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      &[type="submit"] {
        background-color: $btnColor;
        color: white;
        cursor: pointer;
      }
    }
    textarea {
      width: 100%;
      height: 100px;
      resize: none;
      margin-bottom: 25px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .fileUpload {
      label {
        font-weight: 500;
        margin-right: 5px;
      }
    }
  }
}
