extends layouts/main

block content
    .user-profile
        .user-profile__header
            img.u-avatar(src=user.avartarUrl)
            h4.profile__username= user.name
        //- 로그인한 아이디가 view가 찾은 아이디가 같은지 판별
        if user.id === loggedUser.id 
            .user-profile__btn
                a(href=`/users/${routes.editProfile}`)
                    button Edit Profile
                a(href=`/users/${routes.changePassword}`)
                    button Change Password